.limbo-timepicker > .input-append > div {
  display: inline-block;
}
.limbo-timepicker input {
  width: 73px;
  width: 103px;
}
.limbo-timepicker input.minute {
  width: 102px;
  margin-right: 1px;
}
.limbo-timepicker .input-append .on-top {
  position: absolute;
  margin-left: -31px;
  margin-top: 1px;
  display: inline-block;
  height: 22px;
  padding: 5px 6px 3px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  color: #1b264f;
}
.limbo-timepicker button {
  width: 146px;
  width: 206px;
  border: 1px solid #d8d7d9;
  height: 32px;
  background: #fff;
}
.limbo-timepicker button:hover,
.limbo-timepicker button:active,
.limbo-timepicker button:focus {
  border: 1px solid #bbbabf;
}
.limbo-timepicker span[role=button] {
  cursor: pointer;
}
a.limbo-timepicker-link {
  text-decoration: underline;
}
a.limbo-timepicker-link:hover,
a.limbo-timepicker-link:active,
a.limbo-timepicker-link:focus {
  text-decoration: none;
}
.limbo-unix-timestamp > div {
  display: flex;
}
.limbo-unix-timestamp > div > div + div {
  margin-left: 10px;
  line-height: 32px;
}
.limbo-unix-timestamp .input-append .on-top {
  border: 0;
  position: absolute;
  margin-left: -31px;
  margin-top: 1px;
  display: inline-block;
  padding: 5px 6px 3px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  color: #1b264f;
}
.limbo-unix-timestamp .input-append .add-on,
.limbo-unix-timestamp .input-append .on-top {
  padding-top: 7px;
  /* Umbraco uses 5px for the top padding, in which case the icon isn't vertically centered */
  padding-bottom: 1px;
}
.limbo-timezone > div {
  position: relative;
}
.limbo-timezone select {
  width: 100%;
}