<div class="limbo-unix-timestamp" ng-controller="Limbo.Umbraco.UnixTimestamp.Controller as vm">
    <div style="display: flex;">
        <div ng-if="!model.readonly">
            <umb-date-time-picker ng-model="vm.value" options="vm.config" on-change="vm.datePickerChange(selectedDates, dateStr, instance)">
                <div class="input-append">
                    <input type="text"
                           name="datepicker"
                           id="{{model.alias}}"
                           ng-model="vm.rawValue"
                           ng-blur="vm.inputChanged()"
                           ng-required="model.validation.mandatory"
                           class="datepickerinput" />
                    <button type="button" class="on-top" ng-click="vm.clearDate()" ng-show="vm.value">
                        <i class="icon-delete" aria-hidden="true"></i>
                        <span class="sr-only"><localize key="content_removeDate">Clear date</localize></span>
                    </button>
                    <span class="add-on" aria-hidden="true">
                        <i class="icon-calendar"></i>
                    </span>
                </div>
            </umb-date-time-picker>
        </div>
        <div ng-if="model.readonly">
            <div class="input-append">
                <input type="text"
                       name="datepicker"
                       disabled="disabled"
                       ng-model="vm.rawValue"
                       class="datepickerinput" />
                <span class="add-on" aria-hidden="true">
                    <i class="icon-calendar"></i>
                </span>
            </div>
        </div>
        <div ng-show="model.value && model.config.showUnixTimestamp">
            <strong>Unix timestamp:</strong>
            {{model.value}}
        </div>
    </div>
</div>